@import "reset.css";
@import "grid.css";
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "fonts.css";




/* 

-reset Css

*/


input{
    outline-color: var(--medium-green);
    display: block;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    border:1.5px solid var(--light-gray);
    height: 2.5rem;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


.svg{
    display: none;
}

/* 

-App Css

*/
:root{
    --light-gray:#87a3a6;
    --dark-gray:#2b4246;
    --light-green:#dff1e7;
    --medium-green:#0c7d69;
    --red:#d73c3c;
    --White:#fff;
}



html{
    font-size: 16px;
}

body{
    font-family: "Roboto Regular";
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.5;
    background-color: var(--light-green);
    color: var(--dark-gray);
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* 

Container 

*/

.container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


/* 
 App Module
*/


.module{
    background-color: var(--dark-gray);
    border-radius: 1rem;
    padding: 1rem;
    color: var(--White);
    position: absolute;
    top: 0.5rem;
    right: auto;
    left: auto;
    margin: 0 auto;
    z-index: 99;
    max-width: 12rem;
    display: none;
    transition: all 150ms ease-in-out;
}
.module-title{
     display: flex;
     align-items: center;
     margin-bottom: 0.6rem;
}
.module-title__svg{
    width: 1.4rem;
    height: 1.4rem;
}
.module-title__text{
    font-size: 1rem;
    letter-spacing: 1px;
    margin-left: 0.5rem;
}
.module-title__content{
    color: var(--light-green);
    font-size: 0.7rem;
    letter-spacing: 1px;
}

/* 
contactUs Form
*/



.contactUs{
    margin: auto;
    position: relative;
    background-color: var(--White);
    border-radius: 1rem;
    padding: 1rem;
}
.contactUs-title{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.contactUs-form{

}
.contactUs-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
    width: 100%;
    flex-direction: column;
}


.contactUs-fname{
     width: 100%;
}
.contactUs-lname{
     width: 100%;
}

.first-name__label{
    position: relative;
}
.first-name__label::after{

}
.first-name__input{
    
}
.last-name__label{
  
}
.last-name__label::after{


}
.last-name__input{

  
}
.contactUs-email{
    padding-left: 0;
   
}
.contactUs-email__label{

}
.contactUs-email__input{

}
.contactUs-query-type{
   
}
.contactUs-query-type__lable{
    display: block;
}
.contactUs-query-type__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 0.5rem;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.query-type--active{
    border: 0.1rem solid var(--medium-green) !important;
    background-color: var(--light-green);
}

.contactUs-general{

}

.contactUs-general__label{
     margin-left: 0.5rem;
}

.contactUs-general__input{

}

.contactUs-support{
  
}
.contactUs-support,
.contactUs-general{
    width: 100%;
    border:1.5px solid var(--light-gray);
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
}

.contactUs-support__label{
     margin-left: 0.5rem;     
}
.contactUs-support__input{

}
.contactUs-support__input,
.contactUs-general__input{
    border-radius: 100%;
    height: 1rem;
    width: 1rem;
    accent-color: var(--medium-green);
}
.contactUs-text{
    margin-top: 1.2rem;
}

.textarea-label{

}
.textarea{
    outline-color: var(--medium-green);
    border-color: var(--light-gray);
    display: block;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    border:1.5px solid var(--light-gray);
    width: 100%;
    height: 7rem;
    resize: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.contactUs-checkbox{
    margin: 1.8rem 0;
    max-width: 15rem;
}
.contactUs-checkbox__wrapper{
    display: flex;
    align-items: start;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}
.contactUs-checkbox__input{
    height: 1rem;
    width: 1rem;
    margin-top: 0;
    accent-color: var(--medium-green);
}
.contactUs-checkbox__label{    
   
}
.contactUs-btn{
    font-weight: bold;
    color: var(--White);
    width: 100%;
    height: 2.8rem;
    border: none;
    outline: none;
    background-color: var(--medium-green);
    border-radius: 0.5rem;
    cursor: pointer;
}

.contactUs-email,
.contactUs-query-type{
    margin-top: 1.5rem;
}


.contactUs-query-type__lable::after,
.first-name__label::after,
.last-name__label::after,
.contactUs-email__label::after,
.textarea-label::after,
.contactUs-checkbox__label::after{
    content: '*';
    position: absolute;
    color: var(--medium-green);
    margin-left: 0.5rem;

}

/* 
Required Message
*/

.fmane-required,
.lname-required,
.email-required,
.valid-email,
.queryType-required,
.textarea-required,
.checkbox-required{
    color: var(--red);
    display: none;
}