@media (min-width: 375px){


}


@media (min-width: 480px){


}


@media (min-width: 576px){


}


@media (min-width: 768px){
    body{
        height: 100vh;
    }
  
    .contactUs{
        padding: 1.3rem 2rem 2rem;
    }
    .contactUs-name,
    .contactUs-query-type__wrapper{
       flex-direction: row;
    }
    .contactUs-title{
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    .contactUs-checkbox{
        max-width: 18rem;
    }
    .module{
        max-width: 100%;
    }


}


@media (min-width: 992px){
    .contactUs{
        width: 40%;
    }

}


@media (min-width: 1200px){


}


@media (min-width: 1400px){


}